SECRET_KEY=replace-with-a-secure-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=db-name
DB_USER=postgres
DB_PASSWORD=replace-with-your-database-password
DB_HOST=localhost
DB_PORT=5432
